<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome Django Template or Controller!...</h1>

    {{ user_data }}

    <br><br>
    {{ view_data }}

    <hr>

    <table border="1" cellpadding="10" cellspacing="5">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Vote Eligible</th>
        </tr>
        {% for user in view_data %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>
                {% if user.age >= 18 %}
                    Eligible
                {% else %}
                    Not Eligible
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>