<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Django Crud Application</h1>

    <a href="/contactForm">Add Contact</a>

    <hr>

    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>S. No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.message }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>